.main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.butMain {
    width: 22.1875rem;
    height: 2.875rem;

    border-radius: 0.625rem;
    border: none;

    background-color: var(--background-button-approved);
    color: var(--color-font-button-approved);
}