.container-page-charges {
    justify-content: space-between;

    width: 100%;
    margin-top: 1.1rem;

    background-color: var(--font-clr-white);
}

@media (max-width: 768px) {
    .container-page-charges {
        flex-direction: column;
        gap: 3rem;
    }
}

.charge-header {
    color: var(--font-clr-gray-text-modal);
}

.description-table-header {
    width: 40% !important;
}

.imagem-table-header {
    width: 15% !important;
}

.description-table-charge {
    width: 40% !important;

    overflow: hidden;

}

.imagem-table-charge {
    display: flex;
    justify-content: space-around;

    width: 15% !important;
}

.status-text {
    text-align: center;

    padding: 0 0.8rem;
    border-radius: 0.8rem;
    gap: 0.4rem;

    font-weight: var(--fw-medium) !important;
    line-height: 2rem !important;
}

.statusDefeated {
    background-color: var(--bg-card-red);
    color: var(--font-clr-red-number) !important;
}

.statusPending {
    background-color: var(--bg-card-yellow);
    color: var(--font-clr-yellow-number) !important;
}

.statusPay {
    background-color: var(--bg-card-gray);
    color: var(--font-clr-blue-number) !important;
}

.div-status-charge {
    width: 60%;
}

.transform-image-charges:hover {
    transform: scale(1.1);
}

.number-table {
    word-wrap: break-word;
    white-space: normal;
}