.background-modal {
    position: absolute;
    top: 0;

    justify-content: center;
    left: 10.80rem;
    width: calc(100% - 10.80rem);
    height: 100%;

    background-color: rgba(145, 154, 150, 0.30);
    backdrop-filter: blur(2px);

    z-index: 3;
}

.main-modal-flex {
    position: relative;

    max-width: 60rem;
    width: 100%;
    max-height: 76.7rem;
    height: 100%;
    padding: 5.1rem 5.8rem 4rem 5.7rem;
    border-radius: 3rem;

    background-color: var(--bg-modal);
    z-index: 4;
}

.main-modal-flex form {
    display: flex;
    flex-direction: column;
}

.main-modal-flex-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;

    margin-bottom: 4rem;
}

.main-modal-flex-close {
    position: absolute;
    top: 2.4rem;
    right: 2.89rem;

    width: 3.2rem;
    height: 3.5512rem;

    background-color: transparent;
    border: none;
}

.main-modal-flex form label {
    font-size: var(--fz-14);
    font-weight: var(--fw-medium);
    line-height: var(--lineh-20);

    color: var(--font-clr-gray-text);
}

.main-modal-flex form h1 {
    font-size: var(--fz-14);
    font-weight: var(--fw-medium);
    line-height: var(--lineh-20);

    color: var(--font-clr-gray-text);
}



.main-Modal {
    width: 40vw;
    /* height: 85vh; */
    max-height: 95vh;
    padding: 4rem 5.7rem;
    border-radius: 3rem;

    /* position: absolute; */
    /* top: 7%; */

    background-color: var(--bg-modal);
    z-index: 4;
}

.main-Modal form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.main-Modal form h1 {
    font-size: var(--fz-14);
    font-weight: var(--fw-medium);
    line-height: var(--lineh-20);

    color: var(--font-clr-gray-text);
}

.divs-inputs-form span h1 {
    font-size: 1.2rem;
    font-weight: var(--fw-regular);
    line-height: normal;

    color: var(--font-clr-text-error);

    /* margin-bottom: 0.8rem */
}