.customToastify-success {
    background-color: #C3D4FE !important;
    color: #243F80 !important;
}

.customToastify-error {
    background-color: var(--bg-toastfy-error) !important;
    color: var(--font-clr-toast-error) !important;
}

.Toastify__toast-error {
    background-color: var(--bg-toastfy-error) !important;
}

.Toastify__close-button {
    align-self: center !important;
}

.text-toast {
    font-size: var(--fz-14);
    font-weight: var(--fw-regular);
    line-height: normal;

    color: var(--font-clr-toast);
}

.Toastify__progress-bar--success {
    background-color: var(--font-clr-toast) !important;
}

.seuToast {
    color: var(--font-clr-toast);
}

.search-filter-client button {
    margin-right: 1.6rem;
}

.button-filter {
    border-radius: 1rem;

    background-color: var(--bg-modal);
}

.search-filter-client {
    display: flex;
    align-items: center;
    position: relative;
}


.search-filter-client input {
    min-width: 32.2rem;
    flex: 1;
    width: 32.2rem;
    height: 4.57rem;
    padding-left: 0.8rem;
    padding-right: 3rem;
    border: none;
    border-radius: 1rem;

    font-family: var(--ff-nunito);
    font-size: var(--fz-18);
    font-style: var(--fstyle-normal);
    font-weight: var(--fw-regular);
    line-height: normal;
    box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 1000px) {
    .search-filter-client input {
        width: 100%;
        max-width: 32.2rem;
    }
}

.search {
    position: absolute;
    top: 1rem;
    right: 0.8rem;

    cursor: pointer;
}

.tableAll {
    margin-top: 2.576rem;
    border-radius: 3rem;
    padding: 0 2.2rem;

    overflow-y: auto;
    max-height: 61.8rem;

    background-color: var(--bg-modal);
}

.tableAll table {
    width: 100%;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--font-clr-gray-text);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-pink);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--font-clr-gray-extract-client);
}

.tableAll tr {
    display: flex;
    align-items: center;

    height: 5.6rem;

    border-bottom: 0.1rem solid var(--bg-card-gray);
}

.tableAll th,
.tableAll td {
    width: 20%;
    display: flex;
    align-items: center;
}

.extract-table h1 {
    font-size: var(--fz-14);
    font-weight: var(--fw-regular);
    line-height: var(--lineh-40);
    letter-spacing: 0.007rem;

    color: var(--font-clr-text-card);
}

.description-table {
    overflow: hidden;
}


.description-table h1 {
    width: 90%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.error {
    font-family: var(--ff-inter);
    font-size: var(--fz-14);
    font-weight: var(--fw-regular);
    color: var(--font-clr-text-error);
}

.errorLine {
    border: 0.1rem solid var(--font-clr-text-error) !important;
    margin-bottom: 0.4rem !important;
}

.mousePointer {
    cursor: pointer;
}