.main-Modal {
    width: 35vw;
    height: 85vh;
    max-height: 85vh;
    padding: 4rem 5.7rem;
    border-radius: 3rem;
    position: absolute;

    background-color: var(--bg-modal);
    z-index: 4;
}

.main-Modal form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.main-Modal form h1 {
    font-size: var(--fz-14);
    font-weight: var(--fw-medium);
    line-height: var(--lineh-20);

    color: var(--font-clr-gray-text);
}

.divs-inputs-form span h1 {
    font-size: 1.2rem;
    font-weight: var(--fw-regular);
    line-height: normal;

    color: var(--font-clr-text-error);

    /* margin-bottom: 0.8rem */
}