.charges-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 10.80rem);
    height: 100%;

    z-index: 3;
}

.charges-modal {
    position: relative;
    width: 100%;
    max-width: 60rem;
    height: 100%;
    max-height: 46.1rem;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top: 2.425rem;
    right: 2.4rem;
    cursor: pointer;
}

h2.modal-title {
    color: var(--cinzas-cinza-2, #3F3F55);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    position: absolute;
    top: 4rem;
    right: 22rem;
    margin-bottom: 1.6rem;


}

.charges-details {
    position: absolute;
    top: calc(4rem + 1.6rem + 26px);
    left: 5.6rem;
    width: 48.9rem;
    height: 33.1rem;
    font-size: 18px;
    color: #3F3F55;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 1.6rem;
}

.info-detail {
    display: flex;
    gap: 1.6rem;
    align-items: baseline;
    flex-direction: column;
}

.charges-details div p {
    font-weight: 600;
    font-size: 16px;
    color: var(--cinzas-cinza-2, #3F3F55);
    font-family: Montserrat;
    margin-bottom: 0.2rem;
}


.charges-details div span {
    font-size: 16px;
    color: var(--cinzas-cinza-2, #3F3F55);
    font-family: Montserrat;
}

.vencimento-valor,
.id-status {
    display: flex;
    gap: 24px;
    align-items: baseline;

}

.info-detail {
    display: flex;
    width: 243px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.status-text {
    text-align: center;

    padding: 0 0.8rem;
    border-radius: 0.8rem;


    font-weight: var(--fw-medium) !important;
    line-height: 2rem !important;
}

.statusDefeated {
    background-color: var(--bg-card-red);
    color: var(--font-clr-red-number) !important;
}

.statusPending {
    background-color: var(--bg-card-yellow);
    color: var(--font-clr-yellow-number) !important;
}

.statusPay {
    background-color: var(--bg-card-gray);
    color: var(--font-clr-blue-number) !important;
}

.charge-icon {
    position: absolute;
    top: 4.1rem;
    left: 4.9rem;
    width: 3.2rem;
    height: 3.2rem;
}