.modal-edit-logout{
    display: flex;
    justify-content: space-evenly;
}

.modal-edit-logout.container-modal-pat{
    padding: 0;

}

.edit-user-mobile-modal-button{
    width: 20rem;
    height: 20rem;

    background-image: url(../../assets/pat.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FBE6F1;
    color: #FFF;

    border-radius: 15%;

    font-size: 2rem;
}

.modal-edit-logout button:first-child{
    margin-left: 1rem;
}

.modal-edit-logout button:last-child{
    margin-right: 1rem;
}

