.default-modal.edit-client-modal {
    padding: 3.96rem 5.6rem 3.98rem 5.7rem;
}

.AdressEditClientModal {
    width: 100% !important;
    margin-right: 0px !important;
}

.default-double-buttons-modal.edit-client-double-buttons-modal {
    margin-top: 5.7rem;
}

.default-modal form input.disable-name {
    background-color: #e0e0e08a;
}