.contentResume {
    justify-content: space-between;
    width: 100%;
    margin: 1.9rem 0 2.4rem 0;
}

.contentCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.2rem;
}