* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

:root {
  --bg-pink: #DA0175;
  --bg-white-gray: #DEDEE9;
  --bg-modal: #FFF;
  --bg-card-gray: #EEF6F6;
  --bg-card-red: #FFEFEF;
  --bg-card-yellow: #FCF6DC;
  --bg-line-green: #ACD9C5;
  --bg-toast-blue: #C3D4FE;
  --bg-nav: #F0F0F5;
  --bg-toastfy-error: #F2D6D0;

  --border-input: #D0D5DD;

  --font-clr-black: #000000;
  --font-clr-white: #F8F8F9;
  --font-clr-green: #0E8750;
  --font-clr-gray-title: #343447;
  --font-clr-gray-text: #344054;
  --font-clr-gray-text-modal: #3F3F55;
  --font-clr-gray-input: #667085;
  --font-clr-gray-input-modal: #9B9BB2;
  --font-clr-gray-extract-client: #747488;
  --font-clr-blue-number: #1FA7AF;
  --font-clr-yellow-number: #C5A605;
  --font-clr-red-number: #971D1D;
  --font-clr-text-card: #6E6E85;
  --font-clr-text-error: #E70000;
  --font-clr-toast: #243F80;
  --font-clr-toast-error: #AE1100;
  --font-clr-text-error-delete: #CC7800;
  --font-clr-text-aproved-delete: #034A2A;
  --font-clr-text-notfound-charges: #F08889;

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  --ff-nunito: 'Nunito', sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-inter: 'Inter', sans-serif;

  --fz-14: 1.4rem;
  --fz-16: 1.6rem;
  --fz-18: 1.8rem;
  --fz-22: 2.2rem;
  --fz-24: 2.4rem;
  --fz-26: 2.6rem;

  --fstyle-normal: normal;

  --lineh-130: 130%;
  --lineh-20: 2rem;
  --lineh-24: 2.4rem;
  --lineh-40: 4rem;
  --lineh-50: 5rem;

  min-height: 100vh;
}

input {
  outline-color: var(--bg-pink);
}

.initial {
  display: flex;
  align-items: center;
}

h1 {
  font-family: var(--ff-nunito);
  font-style: normal;
}

h2 {
  font-family: var(--ff-montserrat);
  font-style: normal;
}

h3 {
  font-family: var(--ff-inter);
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}