.header-edit-modal {
    justify-content: center;
    margin-bottom: 3.2rem;
}

.main-modal-flex-close {
    position: absolute;
    top: 2.4rem;
    right: 2.89rem;

    width: 3.2rem;
    height: 3.5512rem;

    background-color: transparent;
    border: none;
}

.edit-user-modal.default-modal {
    width: 49.1rem;
}

.default-modal form input {
    gap: 0.6rem;

    width: 100%;
    height: 4.4rem;
    margin-bottom: 0.6rem;
    padding: 0 1.4rem;
    border: 1px solid var(--border-input);
    border-radius: 0.8rem;

    background-color: var(--bg-modal);
    box-shadow: 0 0.1rem 0.2rem 0px rgba(16, 24, 40, 0.05);
}

.main-edit-modal span h1 {
    padding-bottom: 2rem;
}

.information-edit-modal {
    display: flex;
}

.information-edit-modal div:first-child {
    width: 50%;
    margin-right: 2.4rem;
}

.information-edit-modal div:last-child {
    width: 50%;
}

.ModalDiv-Button {
    display: flex;
    justify-content: center;

    width: 100%;
}

.edit-modal-button {
    align-self: center;

    width: 16rem;
    height: 3.3rem;
    margin-top: 3rem;
    border-radius: 1rem;

    background-color: var(--bg-pink);
    color: var(--font-clr-white);
}

.password-input {
    display: flex;
    align-items: center;
    position: relative;
}


.password-toggle-visibility {
    position: absolute;
    right: 1.4rem;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}