.header-edit-modal {
    justify-content: center;
    margin-bottom: 3.2rem;
}

.header-edit-modal h2 {
    font-family: var(--ff-montserrat);
    font-style: normal;
    font-size: var(--fz-24);
    font-weight: var(--fw-bold);
}

.edit-user-modal.default-modal {
    width: 49.1rem;
}

.information-edit-modal {
    display: flex;
}

.information-edit-modal div:first-child {
    width: 50%;
    margin-right: 2.4rem;
}

.information-edit-modal div:last-child {
    width: 50%;
}

.modal-button-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.default-modal-button.edit-modal-button {
    height: 3.3rem;
}

.password-input {
    display: flex;
    align-items: center;
    position: relative;
}


.password-toggle-visibility {
    position: absolute;

    right: 1.4rem;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background-repeat: no-repeat;

    cursor: pointer;
}