h3 {
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.8rem !important;
  color: var(--font);
}

.iconCard {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}

.value {
  font-size: 2.4rem !important;
}

.resumeCharge {
  width: 36rem;
  height: 11rem;
  padding: 2.3rem 4rem;

  border-radius: 30px;
}

.resumeCharge img {
  margin-right: 5.4rem;
}

.resumeCharge div {
  flex-direction: column;
}

.resumeCharge div :first-child {
  margin-bottom: 1.1rem;
}
