.header {
    justify-content: space-between;

    margin: 1.1rem 0;
}



.client-header img {
    padding-right: 1.6rem;
}

.client-header h2 {
    font-size: var(--fz-26);
    font-weight: var(--fw-medium);
    line-height: var(--lineh-130);

    color: var(--font-clr-gray-text-modal);
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 3rem;
    }

    .client-header {
        align-self: center;
    }
}

.ClientOrder svg {
    align-self: center;
}

/* .container-add-client {
    max-width: 26.4rem;
    width: 100%;
} */

.addClient {
    max-width: 26.4rem;
    width: 100%;
    height: 3.3rem;
    border-radius: 1rem;
    gap: 4rem;
    margin-left: 2rem;

    font-size: var(--fz-18);
    font-weight: var(--fw-regular);
    line-height: normal;

    background-color: var(--bg-pink);
    color: var(--font-clr-white);
}

/* .addClient h1 {
    font-size: var(--fz-18);
    font-weight: var(--fw-regular);
    line-height: normal;
} */

.header-table-client {
    position: sticky;
    top: 0;
    background-color: var(--bg-modal);
}

.header-table-client h1 {
    font-size: var(--fz-16);
    font-weight: var(--fw-bold);
    /* line-height: var(--lineh-50); */
    letter-spacing: 0.008rem;

    color: var(--font-clr-gray-text-modal);
}


.nameSelectDetail:hover {
    color: var(--bg-pink) !important;
    transform: scale(1.1);

    word-break: keep-all;
    white-space: nowrap;
    overflow: visible;
    z-index: 4;
}

.view-detail-mouse-over-effect {
    padding-left: 1rem;
}

.name-client {
    cursor: pointer;
}

.div-status {
    width: 60%;
}

.situation {
    text-align: center;

    padding: 0 0.8rem;
    border-radius: 0.8rem;
    gap: 0.4rem;

    font-weight: var(--fw-medium) !important;
    line-height: 2rem !important;
}

.situationDefaulter {
    background-color: var(--bg-card-red);
    color: var(--font-clr-red-number) !important;
}

.situationOk {
    background-color: var(--bg-card-gray);
    color: var(--font-clr-blue-number) !important;
}

.image-Charges-Modal {
    margin-left: 1rem;
}

.image-Charges-Modal:hover {
    transform: scale(1.1);
}

.tableAll{
    animation-duration: 1s;
    animation-name: slidein;
    /* animation: bounce 1s ease-in-out; */
}

@keyframes slidein {
    from{
        margin-right: 100%;
        width: 300%;
    }

    to{
        margin-right: 0%;
        width: 100%;
    }
}

/* @keyframes bounce {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
} */