.header {
    justify-content: space-between;
    margin: 3.0rem 0;
}

.client-header img {
    padding-right: 1.6rem;
}

.client-header h2 {
    color: var(--font);
    font-size: var(--fz-26);
    font-weight: var(--fw-medium);
    line-height: var(--lineh-130);
}

.ClientOrder svg {
    align-self: center;
}

.search-filter-client button {
    margin-right: 1.6rem;
}

.button-filter {
    background-color: var(--bg-modal);
    border-radius: 1rem;
}

.addClient {
    width: 26.4rem;
    height: 4.6rem;
    border-radius: 1rem;
    gap: 4rem;
    background-color: var(--bg-pink);
    color: var(--font-clr-white);
}

.addClient h1 {
    font-size: var(--fz-18);
    font-weight: var(--fw-regular);
    line-height: normal;
}

.search-filter-client input {
    padding-left: 0.8rem;
    gap: 50px;
    border-radius: 1rem;
    border: none;
    height: 4.57rem;
    min-width: 32.2rem;
    box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.04);
    font-family: var(--ff-nunito);
    font-size: var(--fz-18);
    font-style: var(--fstyle-normal);
    font-weight: var(--fw-regular);
    line-height: normal;
}

.search {
    position: absolute;
    right: 11rem;
    top: 14rem;
    cursor: pointer;
}

.tableClient {
    /* width: 100%; */
    background-color: var(--bg-modal);
    border-radius: 3rem;
    padding: 0 2.2rem;
}

.header-table-client h1 {
    color: var(--font-clr-gray-text-modal);
    font-size: var(--fz-16);
    font-weight: var(--fw-bold);
    line-height: var(--lineh-50);
    letter-spacing: 0.008rem;
}

.tableClient table {
    width: 100%;
}

.tableClient tr {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid var(--bg-card-gray);
}

.tableClient th,
.tableClient td {
    width: 20%;
    display: flex;
}

.extract-table-client h1 {
    color: var(--font-clr-gray-extract-client);
    font-size: var(--fz-14);
    font-weight: var(--fw-regular);
    line-height: var(--lineh-40);
    letter-spacing: 0.007rem;
}

.div-status {
    width: 60%;
}

.situation {
    text-align: center;

    padding: 0 0.8rem;
    border-radius: 0.8rem;
    gap: 0.4rem;

    font-weight: var(--fw-medium) !important;
    line-height: 2rem !important;
}

.situationDefaulter {
    background-color: var(--bg-card-red);
    color: var(--font-clr-red-number) !important;
}

.situationOk {
    background-color: var(--bg-card-gray);
    color: var(--font-clr-blue-number) !important;
}